---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import IndexSelect from "../../components/IndexSelect.astro";
import Footer from "../../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="w-full flex flex-col py- px-4 md:py-[5%] md:px-[23%]">
        <!-- <ul class="flex flex-col gap-14">
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}/`}>
                  <img
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                  />
                  <div class="flex flex-col mt-6 gap-4">
                    <h4 class="title">{post.data.title}</h4>
                    <p class="date">
                      <FormattedDate date={post.data.pubDate} />
                    </p>
                  </div>
                </a>
              </li>
            ))
          }
        </ul> -->
        <div class="w-full flex flex-col justify-center items-center">
          <IndexSelect />
          <div
            class="w-full flex flex-col md:flex-row justify-center items-center gap-24 md:gap-36 cardo-regular text-3xl"
          >
            <div
              class="w-full flex flex-col justify-center md:justify-start items-center md:items-start gap-8"
            >
              <h1
                class="py-3 px-6 border-l border-stone-300 rounded-sm shadow-md shadow-stone-300"
              >
                Decentralization
              </h1>
              <ul
                class="list-disc list-inside flex flex-col pr-4 md:pr-0 gap-8 text-center tracking-wide md:tracking-normal"
              >
                <li
                  class="playfair-display text-xl hover:text-rose-400 cursor-pointer transition duration-300 ease-in-out"
                >
                  The New Flow of Transactions
                </li>
                <li
                  class="playfair-display text-xl hover:text-rose-400 cursor-pointer transition duration-300 ease-in-out"
                >
                  The New Flow of Transactions
                </li>
                <li
                  class="playfair-display text-xl hover:text-rose-400 cursor-pointer transition duration-300 ease-in-out"
                >
                  The New Flow of Transactions
                </li>
              </ul>
            </div>
            <div
              class="w-full flex flex-col justify-center md:justify-start items-center md:items-start gap-8"
            >
              <h1
                class="py-3 px-6 border-l border-stone-300 rounded-sm shadow-md shadow-stone-300"
              >
                Decentralization
              </h1>
              <ul
                class="list-disc list-inside flex flex-col pr-4 md:pr-0 gap-8 text-center tracking-wide md:tracking-normal"
              >
                <li
                  class="playfair-display text-xl hover:text-rose-400 cursor-pointer transition duration-300 ease-in-out"
                >
                  The New Flow of Transactions
                </li>
                <li
                  class="playfair-display text-xl hover:text-rose-400 cursor-pointer transition duration-300 ease-in-out"
                >
                  The New Flow of Transactions
                </li>
                <li
                  class="playfair-display text-xl hover:text-rose-400 cursor-pointer transition duration-300 ease-in-out"
                >
                  The New Flow of Transactions
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
